*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Haas';
    text-transform: capitalize;
    src: url('../fonts/NeueHaasDisplayRoman.ttf') format('opentype');
}